<ng-template #unauthorised>You are not authorised to search for users.</ng-template>
<ng-container *ngIf="auth.canSearch(); else unauthorised">
  <div class="progress rounded-0 position-absolute h-1 w-100" *ngIf="searching">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info w-100"></div>
  </div>
  <div class="jumbotron animate-padding" [ngClass]="{'jumbotron-compact': prevPages.length > 0}">
    <div class="container">
      <h1>Search</h1>
      <form #form="ngForm" (submit)="formSubmit.next()">
        <div class="form-group">
          <label for="query" [class.mb-0]="RecentUsersUtils.getRecentUsers().length > 0">
              Use this screen to search for an existing user<ng-container *ngIf="auth.canAddUser()" >, or
              <a id="add-user-link" routerLink="/user">click here to add a new user</a> </ng-container>.
          </label>
          <p class="small" *ngIf="RecentUsersUtils.getRecentUsers().length > 0">
            Recently viewed:
            <span *ngFor="let username of RecentUsersUtils.getRecentUsers().reverse(); let isLast = last">
              <a routerLink="/user/{{username}}" (keyup.enter)="router.navigate(['/user/'+username])">{{username}}</a>{{isLast? '': ','}}
            </span>
            <a (click)="RecentUsersUtils.clear()" (keyup.enter)="RecentUsersUtils.clear()" tabindex="0" title="Clear" style="cursor: pointer">&times;</a>
          </p>
          <div class="input-group input-group-link-overlay">
            <input id="query" name="query" type="search" [(ngModel)]="searchParams.query"
                   class="form-control form-control-lg font-weight-light"
                   placeholder="Search using name, username, team, staff code..."
                   autocomplete="off" autoFocus>
            <button type="button" class="btn btn-link btn-sm collapsed" style="margin-right: 55px"
                    title="Show/hide advanced search filters"
                    data-toggle="collapse" data-target="#filters"
                    aria-expanded="false" aria-controls="filters">
              <span class="mr-1">Advanced</span>
              <span class="oi oi-chevron-bottom small" style="top: 0"></span>
              <span class="oi oi-chevron-top small" style="top: 0"></span>
            </button>
            <div class="input-group-append">
              <button type="submit" class="btn btn-lg btn-primary"
                      [title]="searching? 'Searching...': 'Search'"
                      [disabled]="searching">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="searching"></span>
                <span class="oi oi-magnifying-glass" *ngIf="!searching"></span>
              </button>
            </div>
          </div>
          <div id="filters" class="filter-collapse collapse border border-top-0 rounded-bottom">
            <div class="p-1" style="margin-top: -3px">
              <div class="form-row p-2">
                <div class="col-md-3">
                  <p *ngIf="datasetFilter.dirty && datasetFilter.invalid && datasetFilter.errors['maxSelectable']"
                       class="small text-danger mb-1">
                    You can only filter on a maximum of {{ datasetFilter.errors['maxSelectable'] }} datasets at a time.
                  </p>
                  <item-selector id="datasets-filter" name="datasets-filter" #datasetFilter="ngModel"
                                 [available]="datasets | async"
                                 [(ngModel)]="searchParams.datasets" [(selected)]="searchParams.datasets"
                                 [labelMapper]="LabelMappingUtils.codeDescriptionToLabel"
                                 maxHeight="300px" multiple="true" maxSelectable="15"
                                 placeholder="Datasets"></item-selector>
                </div>
                <div class="col-md-3">
                  <p *ngIf="fileshareFilter.dirty && fileshareFilter.invalid && fileshareFilter.errors['maxSelectable']"
                     class="small text-danger mb-1">
                    You can only filter on a maximum of {{ fileshareFilter.errors['maxSelectable'] }} groups at a time.
                  </p>
                  <item-selector id="fileshare-groups-filter" name="fileshare-groups-filter" #fileshareFilter="ngModel"
                                 [available]="fileshareGroups | async"
                                 [(ngModel)]="searchParams.fileshareGroups" [(selected)]="searchParams.fileshareGroups"
                                 [labelMapper]="LabelMappingUtils.descriptionToLabel"
                                 maxHeight="300px" multiple="true" maxSelectable="15"
                                 placeholder="File Share access"></item-selector>
                </div>
                <div class="col-md-3">
                  <p *ngIf="reportingFilter.dirty && reportingFilter.invalid && reportingFilter.errors['maxSelectable']"
                     class="small text-danger mb-1">
                    You can only filter on a maximum of {{ reportingFilter.errors['maxSelectable'] }} groups at a time.
                  </p>
                  <item-selector id="reporting-groups-filter" name="reporting-groups-filter" #reportingFilter="ngModel"
                                 [available]="reportingGroups | async"
                                 [(ngModel)]="searchParams.reportingGroups" [(selected)]="searchParams.reportingGroups"
                                 [labelMapper]="LabelMappingUtils.descriptionToLabel"
                                 maxHeight="300px" alignRight="true" multiple="true" maxSelectable="15"
                                 placeholder="Reporting access"></item-selector>
                </div>
                <div class="col-md-3">
                  <item-selector id="role-filter" name="role-filter" #roleFilter="ngModel"
                                 [available]="roles | async"
                                 [(ngModel)]="searchParams.role"
                                 [labelMapper]="LabelMappingUtils.nameDescriptionToLabel"
                                 [idMapper]="LabelMappingUtils.nameToLabel"
                                 alignRight="true" maxHeight="300px"
                                 placeholder="Role"></item-selector>
                </div>
              </div>
              <div class="form-row px-2 pb-2">
                <div class="col-md-12">
                  <div class="custom-control custom-checkbox">
                    <input id="include-inactive-users-filter" name="include-inactive-users-filter" class="custom-control-input"
                           [(ngModel)]="searchParams.includeInactiveUsers"
                           type="checkbox"/>
                    <label for="include-inactive-users-filter" class="custom-control-label"
                           title="Toggle whether to display users with an end date in the past">
                      Include inactive users?
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <ng-container *ngIf="results | async as results">
    <div class="container text-center" *ngIf="results.length === 0">
      <h4>No results&hellip;</h4>
    </div>
    <div class="container" *ngIf="results.length > 0">
      <div class="card">
        <div class="border-top-0 table-responsive">
          <table class="table table-hover mb-0">
            <thead class="thead-light">
            <tr>
              <th>Name</th>
              <th>Username</th>
              <th *ngIf="showEmailColumn">Email</th>
              <th class="text-truncate">Staff Code</th>
              <th>Team(s)</th>
              <th *ngIf="searchParams.includeInactiveUsers" class="text-nowrap">End Date</th>
              <th class="text-right " >
                <span class="oi oi-data-transfer-download" style="cursor: pointer;" (click)="exportSearchResultToCSV()" (keyup.enter)="exportSearchResultToCSV()" tabindex="0" title="Export to CSV..."></span >
              </th>
            </tr>
            </thead>
            <tbody style="cursor: pointer">
            <tr *ngFor="let result of results"
                routerLink="/user/{{result.username}}"
                (keyup.enter)="router.navigate(['/user/'+result.username])">
              <td title="Name">
                <a class="font-weight-bold text-dark" tabindex="-1"
                   routerLink="/user/{{result.username}}">{{result.forenames}} {{result.surname}}</a>
              </td>
              <td title="Username">{{result.username}}</td>
              <td *ngIf="showEmailColumn" title="Email">{{result.email}}</td>
              <td title="Staff Code">{{result.staffCode}}</td>
              <td class="w-25" [title]="teamDescriptions(result.teams)">
                <span *ngIf="result.teams !== null && result.teams.length === 1">{{ result.teams[0].description }}</span>
                <span *ngIf="result.teams !== null && result.teams.length > 1">{{ result.teams.length }} teams</span>
              </td>
              <td title="End Date" *ngIf="searchParams.includeInactiveUsers" class="text-nowrap">{{ result.endDate | date: 'dd/MM/yyyy' }}</td>
              <td class="text-right">
                <span class="oi oi-chevron-right"></span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr/>
      <div class="btn-toolbar justify-content-center">
        <button id="search-results-next" class="btn btn-outline-secondary"
                [hidden]="results.length % searchParams.pageSize !== 0 || hasMoreResults === false"
                [disabled]="searching"
                (click)="nextPage.next()">
          {{searching ? 'Loading': 'Load more'}}
          <span class="oi oi-arrow-circle-bottom"></span>
        </button>
        <span id="search-results-count" class="small text-muted"
              [hidden]="results.length % searchParams.pageSize === 0 && hasMoreResults === true">
          {{results.length}} result{{results.length === 1? '': 's'}}
        </span>
      </div>
      <br/>
    </div>
  </ng-container>
</ng-container>
