<div class="jumbotron">
  <div class="container">
    <h1>Search</h1>
    <form (ngSubmit)="search()" #form="ngForm">
      <div class="form-group">
        <label for="query">Search help text...</label>
        <div class="input-group">
          <input id="query" name="query" type="search" class="form-control" [(ngModel)]="query"
                 placeholder="Search using name, email address, staff code..."
                 autocomplete="off">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="container" *ngIf="users">
  <div class="list-group">
    <a *ngFor="let user of users" routerLink="/user/{{user.id}}" class="list-group-item list-group-item-action">
      {{user.forenames}} {{user.surname}}
    </a>
  </div>
</div>
