<ng-template #loadingText>Loading...</ng-template>
<ng-template #unauthorised>You are not authorised to view user details.</ng-template>
<ng-container *ngIf="loaded; else loadingText">
<ng-container *ngIf="auth.canGetUser(); else unauthorised">
  <div class="progress rounded-0 position-absolute h-1 w-100" *ngIf="saving">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info w-100"></div>
  </div>
  <div class="container">
    <div class="mt-4">
      <h1 class="pl-3">{{mode}} user</h1>
      <hr/>
    </div>
    <form #form="ngForm" (submit)="submit()">
      <section class="mb-4 card card-body">
        <h4 class="card-title mb-0">User Details</h4>
        <small class="text-muted" *ngIf="mode !== 'View' && (
        username.invalid ||
        forenames.invalid ||
        surname.invalid ||
        startdate.invalid ||
        enddate.invalid)">Section incomplete</small>
        <hr/>
        <div class="form-group row">
          <label for="username" class="col-sm-2 col-form-label">Username</label>
          <div class="col-sm-4">
            <input #username="ngModel" id="username" name="username" [(ngModel)]="user.username"
                   class="form-control" [readonly]="mode !== 'Add'"
                   autocomplete="off" required pattern="^[a-zA-Z0-9_\-.']*$"
                   maxlength="60"/>
            <div *ngIf="username.invalid && username.dirty" class="text-danger">
              <small *ngIf="username.errors['required']">
                *Username is required
              </small>
              <small *ngIf="username.errors['pattern']">
                *Username must be unique and contain only alphanumeric characters, hyphens, apostrophes or full-stops.
              </small>
            </div>
          </div>
        </div>
        <div class="form-group row" *ngIf="mode !== 'View' || (user.aliasUsername != null && user.aliasUsername != user.username)">
          <label for="alias-username" class="col-sm-2 col-form-label">Alias</label>
          <div class="col-sm-4">
            <input id="alias-username" name="alias-username" #aliasUsername="ngModel" [(ngModel)]="user.aliasUsername"
                   class="form-control" [readonly]="mode === 'View'" autocomplete="off" required pattern="^[a-zA-Z0-9_\-.']*$" maxlength="60">
            <div *ngIf="aliasUsername.invalid && aliasUsername.dirty" class="text-danger">
              <small *ngIf="aliasUsername.errors['required']">
                *Alias username is required
              </small>
              <small *ngIf="aliasUsername.errors['pattern']">
                *Alias username must be unique and contain only alphanumeric characters, hyphens, apostrophes or full-stops.
              </small>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="custom-control custom-checkbox pt-2">
              <input id="same-username" name="same-username"
                     type="checkbox" class="custom-control-input"
                     [disabled]="user.aliasUsername === user.username || mode === 'View'"
                     [checked]="user.aliasUsername === user.username"
                     (click)="user.aliasUsername = user.username">
              <label for="same-username" class="custom-control-label">Same as username?</label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="forenames" class="col-sm-2 col-form-label">Forenames</label>
          <div class="col-sm-4">
            <input id="forenames" name="forenames" #forenames="ngModel" [(ngModel)]="user.forenames"
                   autocomplete="given-name"
                   class="form-control" [readonly]="mode === 'View'" required maxlength="71">
            <div *ngIf="forenames.invalid && forenames.dirty" class = text-danger>
              <small *ngIf="forenames.errors['required']">
                *Forenames is required
              </small>
              <small *ngIf="forenames.errors['maxlength']">
                *Forenames must be less than 71 characters
              </small>
            </div>
          </div>
          <label for="surname" class="col-sm-2 col-form-label">Surname</label>
          <div class="col-sm-4">
            <input id="surname" name="surname" #surname="ngModel" [(ngModel)]="user.surname" autocomplete="family-name"
                   class="form-control" [readonly]="mode === 'View'" required maxlength="35">
            <div *ngIf="surname.invalid && surname.dirty" class = text-danger>
              <small *ngIf="surname.errors['required']">
                *Surname is required
              </small>
              <small *ngIf="surname.errors['maxlength']">
                *Surname must be less than 35 characters
              </small>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label [for]="'start-date-d'" class="col-sm-2 col-form-label">Start Date</label>
          <div class="col-sm-4">
            <date id="start-date" name="start-date" #startdate="ngModel"
                  [(ngModel)]="user.startDate"
                  [required]="user.staffCode != null"
                  [max]="globalMaxDate"
                  [min]="globalMinDate"
                  [readonly]="mode === 'View'"></date>
            <div *ngIf="startdate.invalid && startdate.dirty" class = text-danger>
              <small
                *ngIf="startdate.errors['required'] && !startdate.errors['incomplete'] && !startdate.errors['invalidDate']
                    && !startdate.errors['min'] && !startdate.errors['max']">
              *Start date is required if Staff Code is populated
              </small>
              <small *ngIf="startdate.errors['min']">
                *Start date cannot be before 1900-01-01
              </small>
              <small *ngIf="startdate.errors['max']">
                *Start date cannot be after 2099-12-31
              </small>
              <small *ngIf="startdate.errors['invalidDate']">
                *Date is invalid
              </small>
              <small *ngIf="startdate.errors['incomplete']">
                *Date is incomplete
              </small>
            </div>
          </div>
          <label [for]="'end-date-d'" class="col-sm-2 col-form-label">End Date</label>
          <div class="col-sm-4">
            <date id="end-date" name="end-date" #enddate="ngModel"
                  [required]="false"
                  [(ngModel)]="user.endDate"
                  [max]="globalMaxDate"
                  [min]="globalMinDate"
                  [readonly]="mode === 'View'"></date>
            <div *ngIf="enddate.dirty && enddate.invalid" class = text-danger>

              <small *ngIf="enddate.errors['max']">
                *End date cannot be after 2099-12-31
              </small>
              <small *ngIf="enddate.errors['min']">
                *End date cannot be before 1900-01-01
              </small>
              <small *ngIf="enddate.errors['invalidDate']">
                *Date is invalid
              </small>
              <small *ngIf="enddate.errors['incomplete']">
                *Date is incomplete
              </small>
            </div>
          </div>
        </div>
      </section>
      <section class="mb-4 card card-body">
        <h4 class="card-title mb-0">Authorisation</h4>
        <small class="text-muted" *ngIf="mode !== 'View' && (
        datasetsList.invalid ||
        sectorSelector.invalid ||
        homeArea.invalid)">Section incomplete</small>
        <hr>
        <div class="form-group row">
          <label [for]="'role-groups-toggle-btn'" class="col-sm-2 col-form-label">Role Groups</label>
          <div class="col-sm-{{selectedGroups != null && selectedGroups.length != 0 && mode !== 'View'? '3  pr-sm-0': 4}}">
            <item-selector id="role-groups" #roleGroupField multiple="true" maxHeight="300px"
                           [(selected)]="selectedGroups"
                           [available]="roleGroups"
                           [readonly]="mode === 'View'"
                           [labelMapper]="nameToLabel"></item-selector>
          </div>
          <div class="col-sm-1 pl-sm-1" *ngIf="selectedGroups != null && selectedGroups.length != 0 && mode !== 'View'">
            <button class="btn btn-sm btn-outline-secondary w-100 py-2" (click)="addGroup()"
                    type="button">
              <span class="d-none d-lg-inline">Apply</span>
              <small class="d-sm-inline d-lg-none oi oi-plus"></small>
            </button>
          </div>
          <label [for]="'roles-toggle-btn'" class="col-sm-2 col-form-label">Roles</label>
          <div class="col-sm-4">
            <item-selector #rolesControl="ngModel" id="roles" name="roles" multiple="true" maxHeight="300px"
                           [required]="false"
                           [(ngModel)]="user.roles"
                           [available]="roles"
                           [readonly]="mode === 'View'"
                           [alignRight]="true"
                           [labelMapper]="nameDescriptionToLabel"
                           [idMapper]="nameToLabel"></item-selector>
          </div>
        </div>
        <div class="form-group row">
          <label [for]="'datasets-toggle-btn'" class="col-sm-2 col-form-label">Datasets</label>
          <div class="col-sm-4">
            <item-selector id="datasets" name="datasets" multiple="true" #datasetsList="ngModel" maxHeight="300px"
                           required="true"
                           [(ngModel)]="user.datasets"
                           [(selected)]="user.datasets"
                           [available]="datasets"
                           [readonly]="mode === 'View'"
                           [labelMapper]="codeDescriptionToLabel"
                           aria-describedby="datasets-help-text">
            </item-selector>
            <div *ngIf="datasetsList.dirty && datasetsList.invalid" class=text-danger>
              <small *ngIf="datasetsList.errors['invalid']">
                *Dataset is invalid
              </small>
              <small *ngIf="datasetsList.errors['list']">
                *At least one dataset is required
              </small>
            </div>
          </div>
          <label [for]="'sector-toggle-btn'" class="col-sm-2 col-form-label">Sector</label>
          <div class="col-sm-4">
            <item-selector id="sector" name="sector" #sectorSelector="ngModel"
                           required="true"
                           [(ngModel)]="user.privateSector"
                           [(selected)]="user.privateSector"
                           [available]="[true, false]"
                           [readonly]="mode === 'View'"
                           [alignRight]="true"
                           [labelMapper]="sectorToLabel"></item-selector>
            <div *ngIf="sectorSelector.dirty && sectorSelector.invalid" class = text-danger>
              <small *ngIf="sectorSelector.errors['list']">
                *Sector is required
              </small>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label [for]="'home-area-toggle-btn'" class="col-sm-2 col-form-label">Home Area</label>
          <div class="col-sm-4">
            <item-selector id="home-area" name="homearea" #homeArea="ngModel" maxHeight="300px"
                           required="true"
                           [(ngModel)]="user.homeArea"
                           [(selected)]="user.homeArea" (selectedChange)="homeAreaChanged()"
                           [available]="user.datasets"
                           [readonly]="mode === 'View' || user.datasets == null || user.datasets.length === 0"
                           [labelMapper]="codeDescriptionToLabel"></item-selector>
            <div *ngIf="homeArea.dirty && homeArea.invalid" class = text-danger>
              <small *ngIf="homeArea.errors['list']">
                *At least one home area is required
              </small>
            </div>
          </div>
          <label [for]="'datasets-toggle-btn'" class="col-sm-6 col-form-label text-muted"
                 *ngIf="user.homeArea == null && datasetsList.invalid">Datasets must be entered before selecting a Home Area</label>
          <label for="organisation" class="col-sm-2 col-form-label" style="white-space: nowrap"
                 *ngIf="user.homeArea?.organisation?.description">Organisation</label>
          <div id="organisation" class="col-sm-4 col-form-label text-truncate"
               [title]="user.homeArea?.organisation?.description">
            {{user.homeArea?.organisation?.description}}
          </div>
        </div>
      </section>
      <section class="mb-4 card card-body">
        <h4 class="card-title mb-0">Staff Details</h4>
        <hr>
        <div class="alert alert-info rounded" *ngIf="mode !== 'View' && homeArea.invalid">
          <p class="m-0">
            <span class="oi oi-info"></span>
            &nbsp;
            Authorisation section must be completed before entering staff details.
          </p>
        </div>
        <div class="form-group row">
          <label for="staff-code" class="col-sm-2 col-form-label">Staff Code</label>
          <div class="col-sm-4">
            <div class="input-group">
              <div class="input-group-prepend" *ngIf="mode !== 'View' && user.homeArea != null">
                <span class="input-group-text">{{user.homeArea?.code}}</span>
              </div>
              <input id="staff-code" name="staff-code" #staffcode="ngModel" class="form-control"
                     [(ngModel)]="mode === 'View'? user.staffCode: staffCodeSuffix"
                     [readonly]="mode === 'View' || user.homeArea == null" autocomplete="off"
                     pattern="[A-Z][0-9]{3}$" minlength="4" maxlength="4"/>
              <div class="input-group-append" *ngIf="mode !== 'View' && user.homeArea != null">
                <button type="button" class="btn btn-outline-secondary" (click)="generateStaffCode()" title="Generate">
                  <span class="oi oi-loop-circular"></span>
                </button>
              </div>
              <div *ngIf="staffcode.dirty && staffcode.invalid" class = text-danger>
                <small *ngIf="staffcode.errors['pattern']">
                  *Staff code must be one uppercase character then three numeric characters
                </small>
              </div>
            </div>
          </div>
          <label [for]="'staff-grade-toggle-btn'" class="col-sm-2 col-form-label">Staff Grade</label>
          <div class="col-sm-4">
            <item-selector id="staff-grade" name="staffGrade" #staffGrade="ngModel" maxHeight="300px"
                           [required]="user.staffCode != null && staffcode.valid == true"
                           [(ngModel)]="user.staffGrade"
                           [(selected)]="user.staffGrade"
                           [available]="staffGrades"
                           [readonly]="mode === 'View' || user.staffCode == null"
                           [alignRight]="true"
                           [labelMapper]="codeDescriptionToLabel"></item-selector>
            <div *ngIf="staffGrade.dirty && staffGrade.invalid" class = text-danger>
              <small *ngIf="staffGrade.errors['required']">
                *Staff grade required when a staff code exists
              </small>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label [for]="'teams-toggle-btn'" class="col-sm-2 col-form-label">Team(s)</label>
          <div class="col-sm-4">
            <item-selector id="teams" name="teams" multiple="true" #teamsList="ngModel" maxHeight="300px"
                           [(ngModel)] = "user.teams"
                           [(selected)]="user.teams"
                           [available]="teams"
                           [readonly]="mode === 'View' || user.staffCode == null"
                           [labelMapper]="codeDescriptionToLabel"></item-selector>
          </div>
        </div>
      </section>
      <hr/>
      <div class="btn-toolbar pb-4">
        <button id="save-btn" type="submit"  class="btn btn-primary mr-2"
                *ngIf="mode !== 'View'">Save</button>
        <button id="copy-btn" type="button" class="btn btn-secondary mr-2"
                routerLink="/user" [queryParams]="{copy: user.username}"
                *ngIf="mode !== 'Add' && auth.canAddUser()">Create another&hellip;</button>
        <button id="back-btn" type="button" class="btn btn-secondary mr-2"
                (click)="backButtonAlert()">Back</button>
      </div>
    </form>
  </div>
</ng-container>
</ng-container>
