<ng-template #loading>Loading...</ng-template>
<ng-template #unauthorised>You are not authorised to view user details.</ng-template>
<ng-container *ngIf="loaded; else loading">
<ng-container *ngIf="auth.canGetUser(); else unauthorised">
  <div class="container">
    <div class="pb-2 mt-4 mb-2">
      <h1>{{mode}} user</h1>
    </div>
    <form #form="ngForm" (submit)="submit()">
      <h4>User Details</h4>
      <hr>
      <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-4">
          <input id="username" name="username" [(ngModel)]="user.username"
                 class="form-control" [readonly]="mode === 'View'" autocomplete="off"
                 aria-describedby="username-help-text"/>
        </div>
        <span id="username-help-text" class="form-text col-sm-6 text-muted" *ngIf="mode !== 'View'">
          Username should be unique and contain only alphanumeric characters.
        </span>
      </div>
      <div class="form-group row" *ngIf="user.aliasUsername != null || mode !== 'View'">
        <label for="alias-username" class="col-sm-2 col-form-label">DOM1 Username</label>
        <div class="col-sm-4">
          <input id="alias-username" name="alias-username" [(ngModel)]="user.aliasUsername"
                 class="form-control" [readonly]="mode === 'View'" autocomplete="off">
        </div>
        <div class="col-sm-4">
          <div class="form-check-inline pt-2">
            <input id="same-username" name="same-username"
                   type="checkbox" class="form-check-input"
                   [disabled]="user.aliasUsername === user.username || mode === 'View'"
                   [checked]="user.aliasUsername === user.username"
                   (input)="user.aliasUsername = user.username">
            <label for="same-username" class="form-check-label">Same as OMNI username?</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="forenames" class="col-sm-2 col-form-label">Forename(s)</label>
        <div class="col-sm-4">
          <input id="forenames" name="forenames" [(ngModel)]="user.forenames" autocomplete="given-name"
                 class="form-control" [readonly]="mode === 'View'">
        </div>
        <label for="surname" class="col-sm-2 col-form-label">Surname</label>
        <div class="col-sm-4">
          <input id="surname" name="surname" [(ngModel)]="user.surname" autocomplete="family-name"
                 class="form-control" [readonly]="mode === 'View'">
        </div>
      </div>
      <div class="form-group row">
        <label [for]="'start-date-d'" class="col-sm-2 col-form-label">Start Date</label>
        <div class="col-sm-4">
          <date id="start-date" [(value)]="user.startDate" [max]="user.endDate" [readonly]="mode === 'View'"></date>
        </div>
        <label [for]="'end-date-d'" class="col-sm-2 col-form-label">End Date</label>
        <div class="col-sm-4">
          <date id="end-date" [(value)]="user.endDate" [min]="user.startDate" [readonly]="mode === 'View'"></date>
        </div>
      </div>
      <h4>Allocation</h4>
      <hr>
      <div class="form-group row">
        <label for="home-area" class="col-sm-2 col-form-label">Home Area</label>
        <div class="col-sm-4">
          <item-selector id="home-area" #homeArea maxHeight="300px"
                         [(selected)]="user.homeArea"
                         [available]="datasets"
                         [readonly]="mode === 'View'"
                         [labelMapper]="datasetToLabel"></item-selector>
        </div>
        <label for="organisation" class="col-sm-2 col-form-label">Organisation</label>
        <div class="col-sm-4">
          <item-selector id="organisation" maxHeight="300px"
                         [(selected)]="user.organisation"
                         [available]="organisations"
                         [readonly]="mode === 'View'"
                         [labelMapper]="organisationToLabel"></item-selector>
        </div>
      </div>
      <div class="form-group row">
        <label for="teams" class="col-sm-2 col-form-label">Team(s)</label>
        <div class="col-sm-4">
          <item-selector id="teams" multiple="true" maxHeight="300px"
                         [(selected)]="user.teams"
                         [available]="teams"
                         [readonly]="mode === 'View'"
                         [labelMapper]="teamToLabel"></item-selector>
        </div>
        <label for="staff-code" class="col-sm-2 col-form-label">Staff Code</label>
        <div class="col-sm-4">
          <input id="staff-code" name="staff-code" [(ngModel)]="user.staffCode"
                 class="form-control" [readonly]="mode === 'View'" autocomplete="off"/>
        </div>
      </div>
      <h4>Authorisation</h4>
      <hr>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Role Groups</label>
        <div class="col-sm-3 pr-sm-0">
          <item-selector id="role-groups" #roleGroupField maxHeight="300px"
                         [(selected)]="selectedGroup"
                         [available]="roleGroups"
                         [readonly]="mode === 'View'"
                         [labelMapper]="roleGroupToLabel"></item-selector>
        </div>
        <div class="col-sm-1 pl-sm-1">
          <button class="btn btn-outline-secondary w-100" (click)="addGroup(); roleGroupField.optionsDisplayed = false"
                  [disabled]="selectedGroup == null || mode === 'View'" type="button">
            Add &raquo;
          </button>
        </div>
        <label for="roles" class="col-sm-2 col-form-label">Roles</label>
        <div class="col-sm-4">
          <item-selector id="roles" multiple="true" maxHeight="300px"
                         [(selected)]="user.roles"
                         [available]="roles"
                         [readonly]="mode === 'View'"
                         [labelMapper]="roleToLabel"></item-selector>
        </div>
      </div>
      <div class="form-group row">
        <label for="datasets" class="col-sm-2 col-form-label">Datasets</label>
        <div class="col-sm-4">
          <item-selector id="datasets" multiple="true" maxHeight="300px"
                         [(selected)]="user.datasets"
                         [available]="datasets"
                         [readonly]="mode === 'View'"
                         [labelMapper]="datasetToLabel"></item-selector>
        </div>
      </div>
      <hr/>
      <div class="btn-toolbar" role="toolbar">
        <button *ngIf="mode !== 'View'" class="btn btn-primary" type="submit">Save</button>
        <button *ngIf="mode !== 'Add' && auth.canAddUser()" routerLink="/user" class="btn btn-primary" type="button">Create another&hellip;</button>
      </div>
    </form>
    <p>{{json}}</p>
  </div>
</ng-container>
</ng-container>
