<div class="progress rounded-0 position-absolute h-1 w-100" *ngIf="processing">
  <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
       [style.width]="(aliases != null && aliases.length > 0)? (100 * processedCount / aliases.length + '%') : '100%'"></div>
</div>
<div class="container">
  <div class="mt-4">
    <h1 class="pl-3">User migration</h1>
    <p class="pl-3">
      Use this screen to create a number of aliases for users between OMNI and DOM1.
    </p>
    <hr/>
  </div>
  <form #form="ngForm">
    <section class="mb-4 card card-body" *ngIf="aliases == null || aliases.length == 0">
      <h4 class="card-title mb-0">Upload CSV</h4>
      <hr/>
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <div class="custom-file">
            <input #upload type="file" accept=".csv" class="custom-file-input" id="csv-upload" (change)="readFile($event.target.files[0])">
            <label class="custom-file-label" for="csv-upload">
              {{upload?.files[0]?.name || 'Choose file&hellip;'}}
            </label>
          </div>
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 offset-sm-2">
          <p>Example format:<br/>(title row is required)</p>
        </div>
        <div class="col-sm-5">
          <table class="table table-sm table-bordered">
            <thead class="thead-light">
            <tr>
              <th>Username</th>
              <th>Alias</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>JoeBloggsNPS</td>
              <td>JBloggsDom1</td>
            </tr>
            <tr>
              <td>JohnSmith</td>
              <td>johnny.smith</td>
            </tr>
            <tr>
              <td>&hellip;</td>
              <td>&hellip;</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <section class="mb-4 card card-body" *ngIf="aliases != null && aliases.length > 0">
      <h4 class="card-title mb-0 row">
        <span class="col-sm-4">Aliases ({{aliases.length}})</span>
        <button class="btn btn-primary col-sm-4" (click)="updateUsers()" *ngIf="!processing">Create aliases</button>
      </h4>
      <hr/>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="thead-light">
          <tr>
            <th>Username</th>
            <th>Alias</th>
            <th>Processed?</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let alias of aliases" style="cursor: pointer"
              routerLink="/user/{{alias.username}}" (keyup.enter)="router.navigate(['/user/'+alias.username])">
            <td>{{alias.username}}</td>
            <td>{{alias.alias}}</td>
            <td>
              <span class="oi oi-clock text-warning" *ngIf="alias.processing"></span>
              <span class="oi oi-circle-x" [class.text-danger]="alias.error != null" *ngIf="!alias.processing && !alias.processed"></span>
              <span class="oi oi-circle-check text-success" *ngIf="!alias.processing && alias.processed"></span>
              <span *ngIf="alias.error != null"> {{alias.error}}</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
  </form>
</div>
