// Define overrides for alert colors, border radius, and padding.
$alert-border-radius:               0rem !default;

// A shade darker than the default bootstrap palette, to improve contrast ratio
// (coolors.co/006ff0-5c0ee7-643bb6-d8387f-cd303e-eb7112-ebae06-24993e-1db888-1594a9)
$blue:   #006ff0;
$indigo: #5c0ee7;
$purple: #643bb6;
$pink:   #d8387f;
$red:    #cd303e;
$orange: #eb7112;
$yellow: #ebae06;
$green:  #24993e;
$teal:   #1db888;
$cyan:   #1594a9;
