/* peeet */
@import "styles-variables";
@import '~bootstrap/scss/bootstrap';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';

.animate-padding {
  transition: padding 300ms;
  -webkit-transition: padding 300ms;
}

.jumbotron-compact {
  padding-top: $jumbotron-padding * 2/3;
  padding-bottom: $jumbotron-padding / 2;
}

.form-control.readonly {
  background-color: $input-disabled-bg;
  opacity: 1;
}

date.ng-invalid input, item-selector.ng-invalid button{
  @extend .ng-invalid;
}

date.ng-dirty input, item-selector.ng-dirty button{
  @extend .ng-dirty
}

.ng-invalid.ng-dirty {
  @extend .is-invalid;
}

// Workaround for Firefox bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1430196
.custom-file:focus-within > .custom-file-label {
  border-color: $custom-file-focus-border-color;
  box-shadow: $custom-file-focus-box-shadow;

  &::after {
    border-color: $custom-file-focus-border-color;
  }
}
