/* peeet */
@import "styles-variables";
@import '~bootstrap/scss/bootstrap';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';

.animate-padding {
  transition: padding 100ms;
  -webkit-transition: padding 100ms;
}

.animate-height {
  transition: height 100ms, min-height 100ms;
  -webkit-transition: height 100ms, min-height 100ms;
}

.jumbotron {
  &.jumbotron-compact {
    padding-top: $jumbotron-padding * 2/3;
    padding-bottom: $jumbotron-padding / 2;
  }

  // Darken links and coloured text in jumbotron to maintain an accessible contrast ratio (>4.5)
  & a {
    color: darken($link-color, 15%);
    @include hover() { color: darken($link-hover-color, 15%); }
  }
  @each $color, $value in $theme-colors {
    @include text-emphasis-variant(".text-#{$color}", darken($value, 15%), true);
  }
}

// Style readonly inputs like disabled ones
.form-control.readonly {
  background-color: $input-disabled-bg;
  opacity: 1;
}

// Add angular invalid/dirty classes to custom inputs
date.ng-invalid input, item-selector.ng-invalid button{
  @extend .ng-invalid;
}

date.ng-dirty input, item-selector.ng-dirty button{
  @extend .ng-dirty
}

.ng-invalid.ng-dirty {
  @extend .is-invalid;
}

// Workaround for Firefox bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1430196
.custom-file:focus-within > .custom-file-label {
  border-color: $custom-file-focus-border-color;
  box-shadow: $custom-file-focus-box-shadow;

  &::after {
    border-color: $custom-file-focus-border-color;
  }
}

// Used for overlaying the 'Advanced' link over the search bar on the homepage
.input-group.input-group-link-overlay {
  > input {
    padding-right: 100px;
  }
  > a,.btn-link {
    bottom: 1px;
    width: 100px;
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 4;
  }
}

[data-toggle="collapse"].collapsed > .oi-chevron-top,
[data-toggle="collapse"]:not(.collapsed) > .oi-chevron-bottom {
  @extend .d-none;
}

ul.history-list {
  @extend .list-unstyled;
  @extend .ml-2;
  @extend .border-left;
  @extend .pt-4;
  @extend .pl-3;
  > li {
    @extend .position-relative;
    &:last-child {
      line-height: 1;
    }
    &:not(:last-child) {
      @extend .mb-2;
    }
    > .oi {
      left: -27px;
      font-size: 64%;
      @extend .position-absolute;
      @extend .p-1;
      @extend .rounded-circle;
      @extend .border;
      @extend .bg-white;
      @extend .text-muted;
      @extend .small;
    }
    > .update-info {
      @extend .text-muted;
      @extend .small
    }
    > .update-note > span {
      max-height: 300px;
      overflow-y: auto;
      white-space: pre-line;
      @extend .my-2;
      @extend .py-2;
      @extend .card;
      @extend .card-body;
      @extend .d-inline-block;
    }
  }
}
