<ng-template #loading>Loading...</ng-template>
<ng-container *ngIf="loaded; else loading">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">{{title}}</a>

    <ul class="navbar-nav" *ngIf="auth.me">
      <li class="nav-item" *ngIf="auth.canSearch()">
        <a class="nav-link" routerLinkActive="active" routerLink="/search">Search</a>
      </li>
      <li class="nav-item" *ngIf="auth.canAddUser()">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/user">Add User</a>
      </li>
      <li class="nav-item" *ngIf="auth.canExportUsers()">
        <a class="nav-link" role="button" [class.disabled]="exporting" (click)="exportUsers()" (keyup)="exportUsers()" tabindex="0">
          <ng-container *ngIf="exporting">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Exporting&hellip;
          </ng-container>
          <ng-container *ngIf="!exporting">Export Users</ng-container>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="auth.me">
        <a id="current-user-link" class="nav-link" routerLinkActive="active" routerLink="/user/{{auth.me.username}}">
          Logged in as {{auth.me.username}}
        </a>
      </li>
    </ul>
  </nav>
  <message [message]="globalMessage" [severity]="globalMessageSeverity"></message>
  <router-outlet></router-outlet>
</ng-container>
