<ng-template #loading>Loading...</ng-template>
<ng-container *ngIf="loaded; else loading">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" href="#">{{title}}</a>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="me">
        <a class="nav-link" routerLink="/user/{{me.username}}">Logged in as {{me.username}}</a>
      </li>
    </ul>
  </nav>
  <message [message]="globalMessage" [severity]="globalMessageSeverity"></message>
  <router-outlet></router-outlet>
</ng-container>
