<div #dropdown class="dropdown">
  <button #toggleBtn [id]="id+'-toggle-btn'" type="button"
          class="form-control text-left d-flex justify-content-between align"
          data-toggle="dropdown"
          (click)="focusOnFilter()"
          (keydown.arrowup)="collapseDropdown() && $event.stopPropagation()"
          (keydown.arrowdown)="collapseDropdown() && $event.stopPropagation()"
          (keydown.alt.arrowup)="collapseDropdown() && $event.stopPropagation()"
          (keydown.alt.arrowdown)="collapseDropdown() && $event.stopPropagation()"
          [disabled]="available == null || (available.length == 0 && subMenuItems == null) || (subMenuItems != null && subMenuItems.length == 0)"
          [class.readonly]="readonly"
          [class.ng-dirty]="dirty"
          [title]="displayText"
          aria-haspopup="true" aria-expanded="false">
    <span class="text-truncate mr-2" [class.text-black-50]="displayText === placeholder">{{displayText}}</span>
    <span class="oi oi-chevron-bottom float-right"></span>
  </button>
  <div class="dropdown-menu bg-light p-2"
       style="overflow-y: auto; min-width: 100%; max-width: 200%"
       [class.dropdown-menu-right]="alignRight"
       [ngStyle]="{maxHeight: maxHeight}"
       (click)="!multiple || $event.stopPropagation()"
       (keyup.escape)="collapseDropdown()"
       (keyup.alt.arrowup)="collapseDropdown()"
       (keyup.alt.arrowdown)="collapseDropdown()"
       [attr.aria-labelledby]="id+'-toggle-btn'">
    <div class="text-truncate text-muted small border-bottom mb-2">
      <div class="custom-control custom-checkbox float-left" [class.d-none]="readonly"
           *ngIf="multiple && (maxSelectable == null || available.length <= maxSelectable)">
        <div class="pl-1">
          <input #toggleAllBtn [id]="id + '-toggle-all'" class="custom-control-input" type="checkbox"
                 title="Toggle all items"
                 (change)="toggleAllItems(); updateDropDown()"
                 [checked]="selected != null && available != null && selected.length == available.length"
                 [indeterminate]="selected != null && available != null && selected.length > 0 && selected.length != available.length"/>
          <label [for]="id+'-toggle-all'"
                 class="custom-control-label"
                 title="Toggle all items">&nbsp;</label>
        </div>
      </div>
      <div class="pl-1 py-1 float-left" *ngIf="!multiple">
        <a href="javascript:"
           (click)="toggle(null)"
           (keyup.space)="toggle(null)">Clear</a>
      </div>
      <ul class="nav nav-tabs float-right" style="margin-bottom: -1px"
          (click)="$event.stopPropagation()">
        <li class="nav-item">
          <a class="nav-link py-1" [class.active]="onlyShowSelected"
             style="cursor: pointer; outline: none" tabindex="0"
             title="Only show selected options"
             [hidden]="subMenuItems != null"
             (click)="onlyShowSelected = true; updateDropDown()"
             (keyup.space)="onlyShowSelected = true; updateDropDown()">Selected</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-1" [class.active]="!onlyShowSelected"
             style="cursor: pointer; outline: none" tabindex="0"
             title="Show all options"
             [hidden]="subMenuItems != null"
             (click)="onlyShowSelected = false; updateDropDown()"
             (keyup.space)="onlyShowSelected = false; updateDropDown()">All</a>

          <select (change)="onlyShowSelected = false; getAvailableTeams(); updateDropDown()"
                  [(ngModel)]="selectedSubMenuItem"
                  [class.active]="!onlyShowSelected"
                  [hidden]="subMenuItems == null"
                  class="nav-link py-1"
                  style="cursor: pointer; text-align-last: center"
                  tabindex="0"
                  title="Add teams from another provider">
            <option class="nav-link py-1" [class.active]="onlyShowSelected"
               style="cursor: pointer"
               title="Only show selected options"
               (click)="onlyShowSelected = true; updateDropDown()"
               (keyup.space)="onlyShowSelected = true; updateDropDown()">Selected</option>
            <option *ngFor="let dataset of subMenuItems"
                    [value]="dataset.code"
                    [selected]="dataset.description"
                    class="nav-link py-1"
                    tabindex="0"
                    title="Show teams for the {{dataset.description}} provider">
              {{ dataset.description }}
            </option>
          </select>

        </li>
      </ul>
    </div>
    <div class="form-group mb-2">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white"><i class="oi oi-magnifying-glass"></i></div>
        </div>
        <input #filterControl [id]="id+'-filter'"
               [(ngModel)]="filter"
               (input)="updateDropDown()"
               type="search"
               class="form-control form-control-sm border-left-0"
               title="Filter selectable options" placeholder="Search&hellip;" aria-label="Filter">
      </div>
    </div>
    <div class="text-truncate custom-control custom-{{multiple? 'checkbox': 'radio'}}"
         [class.d-none]="onlyShowSelected && !isSelected(item)"
         *ngFor="let item of filtered; let i = index">
      <div class="pl-1">
        <input [id]="id+'-opt-'+i" [name]="id" class="custom-control-input"
               [type]="multiple? 'checkbox': 'radio'"
               (change)="toggle(item)"
               [checked]="isSelected(item)"
               [disabled]="readonly"
               [tabindex]="onlyShowSelected && !isSelected(item)? -1: 0"
               [title]="mapToLabel(item)"/>
        <label [for]="id+'-opt-'+i"
               [title]="mapToLabel(item)"
               class="custom-control-label w-100">{{mapToLabel(item)}}</label>
      </div>
    </div>
  </div>
</div>
