<div class="input-group" tabindex="0"
     (keydown.n)="setDaysFromToday(0)"
     (keydown.t)="setDaysFromToday(1)"
     (keydown.y)="setDaysFromToday(-1)"
     (keydown.w)="setDaysFromToday(7)"
     (keydown.l)="setDaysFromToday(-7)"
     (keydown.f)="setDaysFromToday(14)">
  <input id="{{id}}-d" class="form-control" placeholder="DD" maxlength="2"
         title="{{label || id}} day of the month"
         [readonly]="readonly"
         [(ngModel)]="date" (input)="change()"/>
  <input id="{{id}}-m" class="form-control" placeholder="MM" maxlength="2"
         title="{{label || id}} month"
         [readonly]="readonly"
         [(ngModel)]="month" (input)="change()"/>
  <input id="{{id}}-y" class="form-control" placeholder="YYYY" maxlength="4"
         title="{{label || id}} year"
         [readonly]="readonly"
         [(ngModel)]="year" (input)="change()"/>
</div>
