<div id="component-container">
  <div id="selection-area" class="search-bar" >
    <button (click)="toggleOptions()" type="button" class="form-control text-left" [ngClass]="{readonly: readOnly}">
      {{userTransactions.length}} selected
      <span class="oi oi-chevron-top float-right" *ngIf="optionsDisplayed"></span>
      <span class="oi oi-chevron-bottom float-right" *ngIf="!optionsDisplayed"></span>
    </button>
  </div>
  <div id="results-area" *ngIf="optionsDisplayed" [ngStyle]="{height: componentHeight, width: componentWidth}" style="overflow-x: hidden; overflow-y: auto">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
          *ngFor="let transaction of availableTransactions">
          <div>{{transaction.name}} ({{transaction.description}})</div>
          <div class="float-right" >
            <input type = "checkbox" [checked]="userHasRole(transaction)" [disabled]="readOnly"  />
          </div>
      </li>
    </ul>
  </div>
</div>
