<div id="component-container" [ngStyle]="{height: componentHeight, width: componentWidth}" style="overflow-x: hidden; overflow-y: auto">
  <div id="selection-area">
    <button (click)="toggleOptions()" type="button" class="btn btn-primary">{{buttonName}}</button>
  </div>
  <div id="results-area" *ngIf="optionsDisplayed">
    <ul class="list-group">
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
          *ngFor="let transaction of availableTransactions">
          <div>{{transaction.name}} ({{transaction.description}})</div>
          <div class="float-right" >
            <input type = "checkbox" [checked]="userHasRole(transaction)"/>
          </div>
      </li>
    </ul>
  </div>
</div>
